---
layout: default
title: Blog
order: 4
permalink: /blog/
---
<section class="contenidos prox-evento p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-evento text-center">
                    <h1 class="f-60">Blog<span class="blink">|</span> </h1>
                    <hr class="divider-morado">
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
          <span class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>  
        </div>
        
    </div>
</section>

<div class="post">
  <div class="div container">
    <div class="row">

      
        {% for post in site.posts %}
        <div class="col-md-6">
          {% if post.image %}
            <a href="{{ post.url | prepend: site.baseurl }}" class="inner">
              <div class="img_post">
                <img class="" src="{{ site.baseurl }}/content/images/post/{{ post.image }}">
                <div name="gradiant" class="gradiant">
                  <div class="txt f-30">
                    <span class="f-15">{{ post.date | date: "%b %-d, %Y" }}</span><br>
                    {{ post.title | escape }}
                    
                  </div>

                </div>
                             
              </div>
            </a>
          {% endif %}
         
         
            {{ post.excerpt }}
         
        </div>
        {% endfor %}
      

    </div>
  </div>

<!-- 
JS Que aplica degradado Random a cada img del blog
 -->
<script>
  var colors = [' gradiant-cian', ' gradiant-azul', ' gradiant-morado'];
  var divs = document.getElementsByName('gradiant');
                  
  console.log(divs[0]);

  for (var i = 0; i < divs.length; i++) {
    min = Math.ceil(0);
    max = Math.floor(3);
    var r = Math.floor(Math.random() * (max - min)) + min;
    divs[i].className += colors[r];
  }
  
</script>

</div>
